
<mat-toolbar  color="primary" class="title-toolbar">
    <mat-toolbar-row>
      <span class="title-center">GeeksforGeeks</span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  
  <button mat-stroked-button color="primary">Primary</button>

  <mat-form-field appearance="outline">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <r19-dashboard-shell></r19-dashboard-shell> -->
